<a href="https://colab.research.google.com/github/rusiia16/20209psj/blob/main/pandas_02_dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **DataFrame**
+ 2차원 자료구조인 DataFrame는 행과 열이 있는 테이블 데이터

## **pandas 라이브러리 추가**

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.activity.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fexperimentsandconfigs%20https%3a%2f%2fwww.googleapis.com%2fauth%2fphotos.native&response_type=code

Enter your authorization code:
4/1AY0e-g5UtNaLlYK1hPW86XIeYhMgZpv2Iytg4t9fOehHq6kArVHhD3R7OPA

### 복습문제) 
다음 4개의 리스트를 이용하여 각 지역별 평균, 최대, 최소값 리스트를 값으로 가지는 딕션너라를 작성하시오.
* 데이터참고:https://www.airkorea.or.kr/web/weekSearch?pMENU_NO=111
```
area = ['서울','부산','대구','인천','광주','대전','울산','세종','경기','강원','충북','충남','전북','전남','경북','경남','제주']
pm25_avg = [20,13,15,20,19,16,14,18,20,14,19,23,23,14,15,13,14]
pm25_max = [22,18,18,30,23,20,16,19,27,18,26,29,30,27,23,17,16]
pm25_min = [16,10,11,12,15,12,11,17,13,9,14,19,14,10,8,9,11]
```

In [ ]:
area = ['서울',	'부산',	'대구',	'인천',	'광주',	'대전',	'울산',	'세종',	'경기',	'강원',	'충북',	'충남',	'전북',	'전남',	'경북',	'경남',	'제주']
pm25_avg = [20,13,15,20,19,16,14,18,20,14,19,23,23,14,15,13,14]
pm25_max = [22,18,18,30,23,20,16,19,27,18,26,29,30,27,23,17,16]
pm25_min = [16,10,11,12,15,12,11,17,13,9,14,19,14,10,8,9,11]

In [ ]:
print(area)

['서울', '부산', '대구', '인천', '광주', '대전', '울산', '세종', '경기', '강원', '충북', '충남', '전북', '전남', '경북', '경남', '제주']

## 데이터프레임으로 변환
* **pd.DataFrame()**

###  리스트를 데이터프레임으로 변환

In [ ]:
df = pd.DataFrame(area)
print(df, type(df))

     0
0   서울
1   부산
2   대구
3   인천
4   광주
5   대전
6   울산
7   세종
8   경기
9   강원
10  충북
11  충남
12  전북
13  전남
14  경북
15  경남
16  제주 <class 'pandas.core.frame.DataFrame'>

In [ ]:
df

     0
0   서울
1   부산
2   대구
3   인천
4   광주
5   대전
6   울산
7   세종
8   경기
9   강원
10  충북
11  충남
12  전북
13  전남
14  경북
15  경남
16  제주

In [ ]:
df['평균'] = pm25_avg
df['최대'] = pm25_max
df['최소'] = pm25_min
df

     0  평균  최대  최소
0   서울  20  22  16
1   부산  13  18  10
2   대구  15  18  11
3   인천  20  30  12
4   광주  19  23  15
5   대전  16  20  12
6   울산  14  16  11
7   세종  18  19  17
8   경기  20  27  13
9   강원  14  18   9
10  충북  19  26  14
11  충남  23  29  19
12  전북  23  30  14
13  전남  14  27  10
14  경북  15  23   8
15  경남  13  17   9
16  제주  14  16  11

### 딕션너리를 데이터프레임으로 변환
* 딕션너리 키 : 열(column)
* 딕션너리 값 : 행(row)

In [ ]:
df = pd.DataFrame(dt)
df

NameError: ignored

In [ ]:
df = pd.DataFrame()
df['area'] = area
df['avg'] = pm25_avg
df['max'] = pm25_max
df['min'] = pm25_min
df

In [ ]:
temp = list(zip(area,pm25_avg,pm25_max,pm25_min ))
print(temp)
df2= pd.DataFrame(temp)
df2.columns = ['area', 'avg', 'max', 'min']
df2

[('서울', 20, 22, 16), ('부산', 13, 18, 10), ('대구', 15, 18, 11), ('인천', 20, 30, 12), ('광주', 19, 23, 15), ('대전', 16, 20, 12), ('울산', 14, 16, 11), ('세종', 18, 19, 17), ('경기', 20, 27, 13), ('강원', 14, 18, 9), ('충북', 19, 26, 14), ('충남', 23, 29, 19), ('전북', 23, 30, 14), ('전남', 14, 27, 10), ('경북', 15, 23, 8), ('경남', 13, 17, 9), ('제주', 14, 16, 11)]

   area  avg  max  min
0    서울   20   22   16
1    부산   13   18   10
2    대구   15   18   11
3    인천   20   30   12
4    광주   19   23   15
5    대전   16   20   12
6    울산   14   16   11
7    세종   18   19   17
8    경기   20   27   13
9    강원   14   18    9
10   충북   19   26   14
11   충남   23   29   19
12   전북   23   30   14
13   전남   14   27   10
14   경북   15   23    8
15   경남   13   17    9
16   제주   14   16   11

In [ ]:
dtz = list(zip(area,pm25_avg,pm25_max,pm25_min ))

df = pd.DataFrame(dtz)
df.columns = ['area', 'avg', 'max', 'min']
df

   area  avg  max  min
0    서울   20   22   16
1    부산   13   18   10
2    대구   15   18   11
3    인천   20   30   12
4    광주   19   23   15
5    대전   16   20   12
6    울산   14   16   11
7    세종   18   19   17
8    경기   20   27   13
9    강원   14   18    9
10   충북   19   26   14
11   충남   23   29   19
12   전북   23   30   14
13   전남   14   27   10
14   경북   15   23    8
15   경남   13   17    9
16   제주   14   16   11

## 외부 데이터 가져오기
+ csv 읽기
 - 한글 파일명을 사용할 경우 : df = pd.read_csv(‘파일명‘, engine='python')
 - 파일 내용 한글이 깨지는 경우 : df = pd.read_csv(‘파일명‘, engine='python', encoding='cp949')
>
```
df = pd.read_csv(‘파일명‘)
```

+ 엑셀 읽기
 - 한글 파일명을 사용할 경우 : df = pd.read_excel(‘파일명‘)
>
```
df = pd.pd.read_excel(‘파일명‘)
```

In [ ]:
#지역별주간별_초미세먼지.csv 가져오기 
df = pd.read_csv('/content/drive/MyDrive/파이썬특강/python2021/data/지역별주간별_초미세먼지.csv', engine='python',encoding='cp949')
df

   지역   주간평균   최고값   최저값
0   서울     20    22    16
1   부산     13    18    10
2   대구     15    18    11
3   인천     20    30    12
4   광주     19    23    15
5   대전     16    20    12
6   울산     14    16    11
7   세종     18    19    17
8   경기     20    27    13
9   강원     14    18     9
10  충북     19    26    14
11  충남     23    29    19
12  전북     23    30    14
13  전남     14    27    10
14  경북     15    23     8
15  경남     13    17     9
16  제주     14    16    11

## 데이터프레임(DataFrame) 살펴보기
* 데이터프레임의 정보 : **df.info()**
 - 데이터프레임에 대한 전반적인 정보
 - 데이터프레임을 구성하는 행과 열의 크기, 컬럼명, 컬럼을 구성하는 값의 자료형 등을 출력
+ 데이터프레임의 크기 확인 : **df.shape 속성**
 - (행, 열) 크기를 확인하기
 - 행의 개수 : len(데이터프레임), len(.index), .shape[0]
 - 열의 개수 : len(.column), .shape[1]
+ 데이터프레임의 원소의 총개수 : **df.size 속성**
+ 데이터프레임 개수 확인 :**df.count()**
 - Null이 아닌 행의 개수 확인
 - axis='columns' : Null이 아닌 열의 개수 확인
* 데이터프레임의 인덱스 
 + 열의 인덱스 : **df.colums**
 + 행의 인덱스 : **df.index**
 + **데이터프레임의 인덱스 변경**
   - 열인덱스 명 변경 : df.column = [열명인덱스]
   - 열항목 중 하나를 인덱스로 사용 : df.set_index(열명)
   - 인덱스를 일반 데이터 열로 전환 : df.reset_index()

In [ ]:
#데이터프레임의 정보
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역      17 non-null     object
 1   주간평균    17 non-null     int64
 2   최고값     17 non-null     int64
 3   최저값     17 non-null     int64
dtypes: int64(3), object(1)
memory usage: 672.0+ bytes

In [ ]:
#데이터프레임의 크기 확인
print('데이터프레임 (행, 열) : ', df.shape)
print('데이터프레임 행 개수 len : ', len(df) )
print('데이터프레임 행 개수 len : ', len(df.index) )
print('데이터프레임 행 개수 shape : ', df.shape[0] )
print('데이터프레임 열 개수 len : ', len(df.columns) )
print('데이터프레임 열 개수 shape : ', df.shape[1] )

데이터프레임 (행, 열) :  (17, 4)
데이터프레임 행 개수 len :  17
데이터프레임 행 개수 len :  17
데이터프레임 행 개수 shape :  17
데이터프레임 열 개수 len :  4
데이터프레임 열 개수 shape :  4

In [ ]:
df.index

RangeIndex(start=0, stop=17, step=1)

In [ ]:
df.columns

Index(['지역 ', '주간평균 ', '최고값 ', '최저값 '], dtype='object')

In [ ]:
#데이터프레임 각 열의개수 확인
print(df.count())
print('-'*20)
print(df.count(axis='columns'))

지역       17
주간평균     17
최고값      17
최저값      17
dtype: int64
--------------------
0     4
1     4
2     4
3     4
4     4
5     4
6     4
7     4
8     4
9     4
10    4
11    4
12    4
13    4
14    4
15    4
16    4
dtype: int64

In [ ]:
#데이터프레임의 원소의 총개수
print(df.size)

In [ ]:
#데이터프레임의 인덱스
print('열인덱스 : ', df.columns)
print('행인덱스 :', df.index)

열인덱스 :  Index(['지역 ', '주간평균 ', '최고값 ', '최저값 '], dtype='object')
행인덱스 : RangeIndex(start=0, stop=17, step=1)

In [ ]:
df['최고값 ']

0     22
1     18
2     18
3     30
4     23
5     20
6     16
7     19
8     27
9     18
10    26
11    29
12    30
13    27
14    23
15    17
16    16
Name: 최고값 , dtype: int64

In [ ]:
#열명의 공백 제거 
df.columns = [item.strip() for item in df.columns]
df.columns

Index(['지역', '주간평균', '최고값', '최저값'], dtype='object')

In [ ]:
df['최고값']

0     22
1     18
2     18
3     30
4     23
5     20
6     16
7     19
8     27
9     18
10    26
11    29
12    30
13    27
14    23
15    17
16    16
Name: 최고값, dtype: int64

In [ ]:
df.head(2)

   지역  주간평균  최고값  최저값
0  서울    20   22   16
1  부산    13   18   10

In [ ]:
#지역 컬럼을 행 인덱스로 지정
df = df.set_index('지역')
df

    주간평균  최고값  최저값
지역
서울    20   22   16
부산    13   18   10
대구    15   18   11
인천    20   30   12
광주    19   23   15
대전    16   20   12
울산    14   16   11
세종    18   19   17
경기    20   27   13
강원    14   18    9
충북    19   26   14
충남    23   29   19
전북    23   30   14
전남    14   27   10
경북    15   23    8
경남    13   17    9
제주    14   16   11

In [ ]:
df.index

Index(['서울', '부산', '대구', '인천', '광주', '대전', '울산', '세종', '경기', '강원', '충북', '충남',
       '전북', '전남', '경북', '경남', '제주'],
      dtype='object', name='지역')

In [ ]:
#인덱스를 일반 데이터 열로 전환
df = df.reset_index()
df

    지역  주간평균  최고값  최저값
0   서울    20   22   16
1   부산    13   18   10
2   대구    15   18   11
3   인천    20   30   12
4   광주    19   23   15
5   대전    16   20   12
6   울산    14   16   11
7   세종    18   19   17
8   경기    20   27   13
9   강원    14   18    9
10  충북    19   26   14
11  충남    23   29   19
12  전북    23   30   14
13  전남    14   27   10
14  경북    15   23    8
15  경남    13   17    9
16  제주    14   16   11

## **데이터프레임 인덱싱(indexing)과 슬라이싱(slicing)**

In [ ]:
df = df.set_index('지역')
df.head()

### df[]
 + 특정 열 가져오기 : df[열인덱스], df[열인덱스 리스트]
 + 특정 행 가져오기 : df[시작행인덱스:종료행인덱스]

In [ ]:
df.columns

Index(['주간평균', '최고값', '최저값'], dtype='object')

In [ ]:
#특정 열 가져오기
df['주간평균']

지역
서울    20
부산    13
대구    15
인천    20
광주    19
대전    16
울산    14
세종    18
경기    20
강원    14
충북    19
충남    23
전북    23
전남    14
경북    15
경남    13
제주    14
Name: 주간평균, dtype: int64

In [ ]:
df[['주간평균','최고값']]

    주간평균  최고값
지역
서울    20   22
부산    13   18
대구    15   18
인천    20   30
광주    19   23
대전    16   20
울산    14   16
세종    18   19
경기    20   27
강원    14   18
충북    19   26
충남    23   29
전북    23   30
전남    14   27
경북    15   23
경남    13   17
제주    14   16

In [ ]:
df['부산':'부산']

    주간평균  최고값  최저값
지역
부산    13   18   10

In [ ]:
#특정행 가져오기
df['부산':'인천']

    주간평균  최고값  최저값
지역
부산    13   18   10
대구    15   18   11
인천    20   30   12

### df.loc[행인덱스, 열인덱스]
* 특정 열 가져오기 : df.loc[:, 열인덱스]
* 특정 행 가져오기 : df.loc[행인덱스, :]
* 특정 항목 가져오기 : df.loc[행인덱스, 열인덱스]

In [ ]:
df.head()

    주간평균  최고값  최저값
지역
서울    20   22   16
부산    13   18   10
대구    15   18   11
인천    20   30   12
광주    19   23   15

In [ ]:
df.loc[:'대구', :'최고값']

    주간평균  최고값
지역
서울    20   22
부산    13   18
대구    15   18

In [ ]:
df.loc[:'대구', :'최저값']

    주간평균  최고값  최저값
지역
서울    20   22   16
부산    13   18   10
대구    15   18   11

In [ ]:
df.loc[['울산'], :'최고값']

    주간평균  최고값
지역
울산    14   16

In [ ]:
#특정 열 가져오기
#df.loc[:, '최저값']
df.iloc[1,1:3]

최고값    18
최저값    10
Name: 부산, dtype: int64

In [ ]:
df.loc[:, ['주간평균', '최저값']]

In [ ]:
df.loc[:, '주간평균':'최저값']

In [ ]:
#특정 행 가져오기
df.loc['부산',:]

In [ ]:
df.loc[['부산', '인천'], :]

In [ ]:
df.loc['부산':'인천', :]

In [ ]:
#특정 항목 가져오기
df.loc['부산', '주간평균']

In [ ]:
df.loc[['부산','인천'],['주간평균', '최저값']]

In [ ]:
df.loc['부산':'인천','주간평균':'최저값']

### df.iloc[행인덱스순서, 열인덱스순서]
* 특정 열 가져오기 : df.loc[:, 열인덱스순서]
* 특정 행 가져오기 : df.loc[행인덱스순서, :]
* 특정 항목 가져오기 : df.loc[행인덱스순서, 열인덱스순서]

In [ ]:
#특정 열 가져오기
#df.loc[:, '최저값'] 
df.iloc[:, 2]

In [ ]:
#df.loc[:, ['주간평균', '최저값']]
df.iloc[:, [0, 2]]

In [ ]:
#df.loc[:, '주간평균':'최저값']
df.iloc[:, 0:2]

In [ ]:
#특정 행 가져오기
#df.loc['부산',:]
df.iloc[1,:]

In [ ]:
#df.loc[['부산', '인천'], :]
df.iloc[[1, 3], :]

In [ ]:
#df.loc['부산':'인천', :]
df.iloc[1:4, :]

In [ ]:
#특정 항목 가져오기
#df.loc['부산', '주간평균']
df.iloc[1, 0]

In [ ]:
#df.loc[['부산','인천'],['주간평균', '최저값']]
df.iloc[[0,3],[0, 2]]

In [ ]:
#df.loc['부산':'인천','주간평균':'최저값']
df.iloc[1:4,0:3]

## **데이터프레임(DataFrame) 기본 조회와 기초 통계 메소드**
* head(n) : 상위 n개 조회, n생략 시 5개 조회
+ tail(n) : 하위 n개 조회, n생략 시 5개 조회
+ describe() : 요약 통계량 계산
+ mean() : 평균
+ max() : 최대
+ min() : 최소
+ std()  : 표준편차

In [ ]:
df.head(2)

In [ ]:
df.tail(2)

In [ ]:
df.describe()

            주간평균        최고값        최저값
count  17.000000  17.000000  17.000000
mean   17.058824  22.294118  12.411765
std     3.399827   5.009550   3.063063
min    13.000000  16.000000   8.000000
25%    14.000000  18.000000  10.000000
50%    16.000000  22.000000  12.000000
75%    20.000000  27.000000  14.000000
max    23.000000  30.000000  19.000000

## 자주사용되는 메소드

### 행열 전환 : df.T

In [ ]:
df2 = df.T
df2

지역    서울  부산  대구  인천  광주  대전  울산  세종  경기  강원  충북  충남  전북  전남  경북  경남  제주
주간평균  20  13  15  20  19  16  14  18  20  14  19  23  23  14  15  13  14
최고값   22  18  18  30  23  20  16  19  27  18  26  29  30  27  23  17  16
최저값   16  10  11  12  15  12  11  17  13   9  14  19  14  10   8   9  11

In [ ]:
df = df.sort_index()

In [ ]:
df

    주간평균  최고값  최저값
지역
서울    20   22   16
부산    13   18   10
대구    15   18   11
인천    20   30   12
광주    19   23   15
대전    16   20   12
울산    14   16   11
세종    18   19   17
경기    20   27   13
강원    14   18    9
충북    19   26   14
충남    23   29   19
전북    23   30   14
전남    14   27   10
경북    15   23    8
경남    13   17    9
제주    14   16   11

### 정렬
+ 행열 인덱스 정렬 : df.sort_index(axis=n), n생략 또는 0:행, 1:열
+ 행렬 값 정렬 : df.sort_values()

In [ ]:
df

    주간평균  최고값  최저값
지역
강원    14   18    9
경기    20   27   13
경남    13   17    9
경북    15   23    8
광주    19   23   15
대구    15   18   11
대전    16   20   12
부산    13   18   10
서울    20   22   16
세종    18   19   17
울산    14   16   11
인천    20   30   12
전남    14   27   10
전북    23   30   14
제주    14   16   11
충남    23   29   19
충북    19   26   14

In [ ]:
df.sort_index()

In [ ]:
df.sort_values('주간평균', ascending=False)

    주간평균  최고값  최저값
지역
충남    23   29   19
전북    23   30   14
서울    20   22   16
경기    20   27   13
인천    20   30   12
충북    19   26   14
광주    19   23   15
세종    18   19   17
대전    16   20   12
대구    15   18   11
경북    15   23    8
울산    14   16   11
전남    14   27   10
제주    14   16   11
강원    14   18    9
부산    13   18   10
경남    13   17    9

### 문자열 처리
* df['열명'].str

In [ ]:
data = pd.read_excel('/content/drive/MyDrive/파이썬특강/python2021/data/특성화학과정보_컴퓨터.xlsx')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137 entries, 0 to 136
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   No             137 non-null    int64
 1   학과명            137 non-null    object
 2   대학명            137 non-null    object
 3   폐과             0 non-null      float64
 4   학과 특성화명        137 non-null    object
 5   특성화 구분         137 non-null    object
 6   특성화분류 (대-중-소)  137 non-null    object
 7   Unnamed: 7     137 non-null    object
 8   Unnamed: 8     137 non-null    object
 9   구분             137 non-null    object
 10  학교종류           137 non-null    object
 11  지역             137 non-null    object
 12  설립유형           137 non-null    object
 13  주야구분           137 non-null    object
 14  표준분류계열(대)      137 non-null    object
 15  표준분류계열(중)      137 non-null    object
 16  표준분류계열(소)      137 non-null    object
 17  관심             0 non-null      float64
dtypes: float64(2), int64(1), object(15)
memory usage: 19.4+ KB

In [ ]:
data['대학명']

0        우송대학교
1        세명대학교
2        중앙대학교
3        목원대학교
4        상명대학교
        ...
132    수원과학대학교
133      청암대학교
134      부천대학교
135      거제대학교
136    울산과학대학교
Name: 대학명, Length: 137, dtype: object

In [ ]:
s = '울산과학대학교'
s[:-3]

'울산과학'

In [ ]:
data.head()

   No                학과명 대학명  폐과  ... 표준분류계열(대)  표준분류계열(중)  표준분류계열(소)  관심
0   1  IT융합학부 컴퓨터정보·보안전공  우송 NaN  ...      공학계열  전기・전자・컴퓨터  전산학・컴퓨터공학 NaN
1   2              디자인학부  세명 NaN  ...     예체능계열         미술        디자인 NaN
2   3            소프트웨어학부  중앙 NaN  ...      공학계열  전기・전자・컴퓨터  전산학・컴퓨터공학 NaN
3   4        융합컴퓨터·미디어학부  목원 NaN  ...      공학계열  전기・전자・컴퓨터  전산학・컴퓨터공학 NaN
4   5   전기전자컴퓨터학부 컴퓨터과학과  상명 NaN  ...      공학계열  전기・전자・컴퓨터  전산학・컴퓨터공학 NaN

[5 rows x 18 columns]

In [ ]:
data['대학명'] = data['대학명'].str[:-3]

In [ ]:
seoul = data[data['지역']=='서울']

In [ ]:
seoul.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19 entries, 2 to 116
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   No             19 non-null     int64
 1   학과명            19 non-null     object
 2   대학명            19 non-null     object
 3   폐과             0 non-null      float64
 4   학과 특성화명        19 non-null     object
 5   특성화 구분         19 non-null     object
 6   특성화분류 (대-중-소)  19 non-null     object
 7   Unnamed: 7     19 non-null     object
 8   Unnamed: 8     19 non-null     object
 9   구분             19 non-null     object
 10  학교종류           19 non-null     object
 11  지역             19 non-null     object
 12  설립유형           19 non-null     object
 13  주야구분           19 non-null     object
 14  표준분류계열(대)      19 non-null     object
 15  표준분류계열(중)      19 non-null     object
 16  표준분류계열(소)      19 non-null     object
 17  관심             0 non-null      float64
dtypes: float64(2), int64(1), object(15)
memory usage: 2.8+ KB

In [ ]:
ulsan = data[data['지역']=='울산']
ulsan.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 136 to 136
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   No             1 non-null      int64
 1   학과명            1 non-null      object
 2   대학명            1 non-null      object
 3   폐과             0 non-null      float64
 4   학과 특성화명        1 non-null      object
 5   특성화 구분         1 non-null      object
 6   특성화분류 (대-중-소)  1 non-null      object
 7   Unnamed: 7     1 non-null      object
 8   Unnamed: 8     1 non-null      object
 9   구분             1 non-null      object
 10  학교종류           1 non-null      object
 11  지역             1 non-null      object
 12  설립유형           1 non-null      object
 13  주야구분           1 non-null      object
 14  표준분류계열(대)      1 non-null      object
 15  표준분류계열(중)      1 non-null      object
 16  표준분류계열(소)      1 non-null      object
 17  관심             0 non-null      float64
dtypes: float64(2), int64(1), object(15)
memory usage: 152.0+ bytes

In [ ]:
area = data['지역'].drop_duplicates()
area

0      대전
1      충북
2      서울
7      강원
9      경북
10     전북
12     전남
14     부산
15     광주
21     경기
27     인천
29     충남
44     경남
50     대구
55     제주
72     세종
136    울산
Name: 지역, dtype: object

In [ ]:
my = data[ (data['지역']=='서울') | (data['지역']=='울산') | (data['지역']=='부산')]
my

      No               학과명     대학명  폐과  ... 표준분류계열(대)  표준분류계열(중)  표준분류계열(소)  관심
2      3           소프트웨어학부      중앙 NaN  ...      공학계열  전기・전자・컴퓨터  전산학・컴퓨터공학 NaN
4      5  전기전자컴퓨터학부 컴퓨터과학과      상명 NaN  ...      공학계열  전기・전자・컴퓨터  전산학・컴퓨터공학 NaN
5      6           전자전기공학부      중앙 NaN  ...      공학계열  전기・전자・컴퓨터     N.C.E. NaN
14    15            컴퓨터공학과   부산가톨릭 NaN  ...      공학계열  전기・전자・컴퓨터  전산학・컴퓨터공학 NaN
16    17            컴퓨터공학과   부산디지털 NaN  ...      공학계열  전기・전자・컴퓨터  전산학・컴퓨터공학 NaN
19    20            컴퓨터공학과      서경 NaN  ...      공학계열  전기・전자・컴퓨터  전산학・컴퓨터공학 NaN
20    21            컴퓨터공학과   서울사이버 NaN  ...      공학계열  전기・전자・컴퓨터  전산학・컴퓨터공학 NaN
33    34            컴퓨터공학과      동의 NaN  ...      공학계열  전기・전자・컴퓨터  전산학・컴퓨터공학 NaN
34    35            컴퓨터공학과      동아 NaN  ...      공학계열  전기・전자・컴퓨터  전산학・컴퓨터공학 NaN
35    36            컴퓨터공학과      동명 NaN  ...      공학계열  전기・전자・컴퓨터  전산학・컴퓨터공학 NaN
36    37            컴퓨터공학과      경성 NaN  ...      공학계열  전기・전자・컴퓨터  전산학・컴퓨터공학 NaN
41    42            컴퓨터공학부      한성 NaN  ...      공학계열  전기・전자・컴퓨터  전산학・컴퓨터공학 NaN
42    43            컴퓨터공학부      한성 NaN  ...      공학계열  전기・전자・컴퓨터  전산학・컴퓨터공학 NaN
48    49            컴퓨터공학부      동서 NaN  ...      공학계열  전기・전자・컴퓨터  전산학・컴퓨터공학 NaN
49    50           컴퓨터공학전공    이화여자 NaN  ...      공학계열  전기・전자・컴퓨터  전산학・컴퓨터공학 NaN
56    57           컴퓨터과학전공    숙명여자 NaN  ...      공학계열  전기・전자・컴퓨터  전산학・컴퓨터공학 NaN
59    60            컴퓨터교육과     성균관 NaN  ...    자연과학계열         교육   중등자연과학교육 NaN
60    61            컴퓨터교육과    부산교육 NaN  ...    인문사회계열         교육       초등교육 NaN
65    66       컴퓨터소프트웨어공학부      신라 NaN  ...      공학계열  전기・전자・컴퓨터    정보・통신공학 NaN
66    67      컴퓨터소프트웨어공학전공      동의 NaN  ...      공학계열  전기・전자・컴퓨터  응용소프트웨어공학 NaN
67    68        컴퓨터소프트웨어학과   세종사이버 NaN  ...      공학계열  전기・전자・컴퓨터    정보・통신공학 NaN
69    70        컴퓨터소프트웨어학과    한국성서 NaN  ...      공학계열  전기・전자・컴퓨터  전산학・컴퓨터공학 NaN
74    75          컴퓨터정보공학부      광운 NaN  ...      공학계열  전기・전자・컴퓨터  전산학・컴퓨터공학 NaN
85    86             컴퓨터학부      숭실 NaN  ...      공학계열  전기・전자・컴퓨터  전산학・컴퓨터공학 NaN
98    99            컴퓨터공학과     명지전 NaN  ...      공학계열  전기・전자・컴퓨터  전산학・컴퓨터공학 NaN
105  106       컴퓨터소프트웨어공학과    동양미래 NaN  ...      공학계열  전기・전자・컴퓨터  응용소프트웨어공학 NaN
113  114          컴퓨터전자공학과      서일 NaN  ...      공학계열  전기・전자・컴퓨터       전자공학 NaN
114  115          컴퓨터전자공학과      서일 NaN  ...      공학계열  전기・전자・컴퓨터       전자공학 NaN
116  117          컴퓨터정보공학과    동양미래 NaN  ...      공학계열  전기・전자・컴퓨터    정보・통신공학 NaN
130  131            컴퓨터정보과  부산과학기술 NaN  ...      공학계열  전기・전자・컴퓨터    정보・통신공학 NaN
136  137           컴퓨터정보학부    울산과학 NaN  ...      공학계열  전기・전자・컴퓨터     N.C.E. NaN

[31 rows x 18 columns]

### 그룹화
* 데이터를 그룹별로 분류
* df.groupby(인수)
  + 열 또는 열의 리스트
  + 행 인덱스
* 그룹 연산 메소드
  + size, count: 그룹 데이터의 갯수
  + mean, median, min, max: 그룹 데이터의 평균, 중앙값, 최소, 최대
  + sum, prod, std, var, quantile : 그룹 데이터의 합계, 곱, 표준편차, 분산, 사분위수
  + first, last: 그룹 데이터 중 가장 첫번째 데이터와 가장 나중 데이터

In [ ]:
data.groupby('지역')[['대학명']].count()

    대학명
지역
강원    4
경기   21
경남    5
경북    8
광주    6
대구    9
대전   11
부산   11
서울   19
세종    1
울산    1
인천    6
전남    5
전북    6
제주    5
충남    7
충북   12

In [ ]:
datag = data.groupby('지역')[['대학명']].count()
datag.sort_values('대학명', ascending=False)

    대학명
지역
경기   21
서울   19
충북   12
대전   11
부산   11
대구    9
경북    8
충남    7
광주    6
인천    6
전북    6
경남    5
전남    5
제주    5
강원    4
세종    1
울산    1

In [ ]:
pusan = pd.read_csv('/content/drive/MyDrive/파이썬특강/python2021/data/부산대1821.csv',engine='python',encoding = 'cp949')
pusan

        학과        경쟁률       교과총점        등급  추합    년도
0   국어국문학과   5.888889  97.932600  2.800311   9  2018
1   중어중문학과   5.333333  98.089866  2.901277   5  2018
2   일어일문학과   7.000000  98.480690  2.519110   4  2018
3   영어영문학과   6.800000  98.702021  2.297742  16  2018
4   불어불문학과   6.818182  95.883833  3.930366   4  2018
5   독어독문학과   7.083333  97.750645  3.233800   6  2018
6   노어노문학과   7.625000  97.590116  2.866200   5  2018
7     한문학과  10.428571  97.420700  3.464450   2  2018
8   언어정보학과   7.125000  98.511175  2.488587   5  2018
9      사학과   6.714286  98.640671  2.359071   5  2018
10     철학과   6.625000  95.400840  3.878200   0  2018
11    고고학과   6.571429  97.911414  3.088300   3  2018
12  국어국문학과  12.000000  98.636170  2.800311   7  2019
13  중어중문학과  13.500000  98.730520  2.901277   4  2019
14  일어일문학과  10.214286  98.332385  2.519110   8  2019
15  영어영문학과  11.800000  98.795900  2.297742  30  2019
16  불어불문학과  24.500000  98.102091  3.930366   5  2019
17  독어독문학과  19.333333  98.223577  3.233800   4  2019
18  노어노문학과  14.600000  98.471890  2.866200   5  2019
19    한문학과  14.000000  98.038633  3.464450   6  2019
20  언어정보학과   9.375000  97.984816  2.488587   3  2019
21     사학과   7.500000  98.648875  2.359071   7  2019
22     철학과  21.600000  98.278000  3.878200   5  2019
23    고고학과  11.857143  98.303700  3.088300   9  2019
24  국어국문학과   6.910000  98.510000  2.480000  12  2020
25  중어중문학과  12.500000  97.470000  3.100000   4  2020
26  일어일문학과   7.600000  98.030000  2.970000   6  2020
27  영어영문학과   6.200000  97.000000  3.570000   6  2020
28  불어불문학과   8.220000  98.210000  2.790000   4  2020
29  독어독문학과   8.170000  97.390000  3.020000   4  2020
30  노어노문학과   7.800000  97.890000  3.100000   4  2020
31    한문학과   9.110000  93.890000  3.920000   1  2020
32  언어정보학과   8.700000  98.390000  2.610000   8  2020
33     사학과  11.630000  98.260000  2.740000   6  2020
34     철학과   9.130000  96.860000  3.140000   0  2020
35    고고학과   9.570000  96.150000  4.220000   2  2020
36  국어국문학과   8.820000  98.620000  2.370000  11  2021
37  중어중문학과   7.920000  97.930000  3.050000   9  2021
38  일어일문학과   7.570000  98.160000  2.840000  11  2021
39  영어영문학과  11.130000  99.030000  1.970000  15  2021
40  불어불문학과  15.920000  98.430000  2.570000  11  2021
41  독어독문학과  11.920000  98.240000  2.760000  15  2021
42  노어노문학과   9.900000  98.420000  2.580000   6  2021
43    한문학과   9.440000  97.430000  3.370000   4  2021
44  언어정보학과  11.440000  98.350000  2.650000   4  2021
45     사학과   8.380000  98.290000  2.690000   0  2021
46     철학과  11.670000  98.090000  2.850000   8  2021
47    고고학과   8.560000  98.310000  2.690000   2  2021

In [ ]:
pusan.describe()

             경쟁률       교과총점         등급         추합           년도
count  48.000000  48.000000  48.000000  48.000000    48.000000
mean   10.052141  97.921065   2.952184   6.458333  2019.500000
std     3.962890   0.943159   0.510788   5.107184     1.129865
min     5.333333  93.890000   1.970000   0.000000  2018.000000
25%     7.406250  97.855161   2.577500   4.000000  2018.750000
50%     8.965000  98.216789   2.858100   5.000000  2019.500000
75%    11.702500  98.440472   3.163450   8.000000  2020.250000
max    24.500000  99.030000   4.220000  30.000000  2021.000000

In [ ]:
pusan.groupby('학과').mean().loc[:, :'추합']

              경쟁률       교과총점        등급     추합
학과
고고학과     9.139643  97.668779  3.271650   4.00
국어국문학과   8.404722  98.424692  2.612655   9.75
노어노문학과   9.981250  98.093001  2.853100   5.00
독어독문학과  11.626667  97.901055  3.061900   7.25
불어불문학과  13.864545  97.656481  3.305183   6.00
사학과      8.556071  98.459887  2.537035   4.50
언어정보학과   9.160000  98.308998  2.559293   5.00
영어영문학과   8.982500  98.381980  2.533871  16.75
일어일문학과   8.096071  98.250769  2.712055   7.25
중어중문학과   9.813333  98.055097  2.988138   5.50
철학과     12.256250  97.157210  3.436600   3.25
한문학과    10.744643  96.694833  3.554725   3.25

In [ ]:
data=pd.read_csv('/content/drive/MyDrive/파이썬특강/python2021/data/air.csv', engine='python',encoding='cp949')
data

                날짜 PM10_1  PM10_2 PM25_1  PM25_2  ...  NO2_2  CO_1 Co_2  SO2_1  SO2_2
0    2021-04-25:15     좋음    23.0     좋음    10.0  ...  0.008    좋음  0.3     좋음  0.002
1    2021-04-25:14     좋음    24.0     좋음    10.0  ...  0.007    좋음  0.3     좋음  0.002
2    2021-04-25:13     좋음    27.0     좋음     8.0  ...  0.009    좋음  0.3     좋음  0.002
3    2021-04-25:12     좋음    23.0     좋음     9.0  ...  0.009    좋음  0.3     좋음  0.002
4    2021-04-25:11     좋음    27.0     좋음    12.0  ...  0.007    좋음  0.3     좋음  0.002
..             ...    ...     ...    ...     ...  ...    ...   ...  ...    ...    ...
586  2021-04-01:05     보통    38.0     보통    19.0  ...  0.033    좋음  0.5     좋음  0.003
587  2021-04-01:04     보통    36.0     보통    17.0  ...  0.033    좋음  0.5     좋음  0.003
588  2021-04-01:03     보통    41.0     보통    23.0  ...  0.052    좋음  0.6     좋음  0.003
589  2021-04-01:02     보통    37.0     보통    18.0  ...  0.055    좋음  0.6     좋음  0.003
590  2021-04-01:01     보통    39.0     보통    20.0  ...  0.057    좋음  0.6     좋음  0.003

[591 rows x 13 columns]

### 시계열 자료
* **pd.to_datetime()** : 날짜/시간을 나타내는 문자열을 자동으로 datetime 자료형으로 변환
* **dt 접근자** : datetime 자료형 시리즈에는 dt 접근자가 있어 datetime 자료형이 가진 몇가지 유용한 속성과 메서드를 사용
  +  year, month, day, weekday 등의 속성을 이용하면 년, 월, 일, 요일 정보 추출

dt 접근자 | 내용 
-------------------|------------------
.dt.date         | YYYY-MM-DD(문자)
.dt.year         | 연(4자리숫자)
.dt.month        | 월(숫자)
.dt.month_name() | 월(문자)
.dt.day          | 일(숫자)
.dt.time         | HH:MM:SS(문자)
.dt.hour         | 시(숫자)
.dt.minute       | 분(숫자)
.dt.second       | 초(숫자)
.dt.quarter       | 분기(숫자)
.dt.day_name()  | 요일이름(문자)  
.dt.weekday       | 요일숫자(0-월, 1-화) (=dayofweek)
.dt.weekofyear    | 연 기준 몇주째(숫자) (=week)
.dt.dayofyear     | 연 기준 몇일째(숫자)
.dt.days_in_month | 월 일수(숫자) (=daysinmonth)

In [ ]:
data=pd.read_csv('/content/drive/MyDrive/파이썬특강/python2021/data/air.csv', engine='python',encoding='cp949')
data

                날짜 PM10_1  PM10_2 PM25_1  PM25_2  ...  NO2_2  CO_1 Co_2  SO2_1  SO2_2
0    2021-04-25:15     좋음    23.0     좋음    10.0  ...  0.008    좋음  0.3     좋음  0.002
1    2021-04-25:14     좋음    24.0     좋음    10.0  ...  0.007    좋음  0.3     좋음  0.002
2    2021-04-25:13     좋음    27.0     좋음     8.0  ...  0.009    좋음  0.3     좋음  0.002
3    2021-04-25:12     좋음    23.0     좋음     9.0  ...  0.009    좋음  0.3     좋음  0.002
4    2021-04-25:11     좋음    27.0     좋음    12.0  ...  0.007    좋음  0.3     좋음  0.002
..             ...    ...     ...    ...     ...  ...    ...   ...  ...    ...    ...
586  2021-04-01:05     보통    38.0     보통    19.0  ...  0.033    좋음  0.5     좋음  0.003
587  2021-04-01:04     보통    36.0     보통    17.0  ...  0.033    좋음  0.5     좋음  0.003
588  2021-04-01:03     보통    41.0     보통    23.0  ...  0.052    좋음  0.6     좋음  0.003
589  2021-04-01:02     보통    37.0     보통    18.0  ...  0.055    좋음  0.6     좋음  0.003
590  2021-04-01:01     보통    39.0     보통    20.0  ...  0.057    좋음  0.6     좋음  0.003

[591 rows x 13 columns]

In [ ]:
data.head()

              날짜 PM10_1  PM10_2 PM25_1  PM25_2  ...  NO2_2  CO_1 Co_2  SO2_1  SO2_2
0  2021-04-25:15     좋음    23.0     좋음    10.0  ...  0.008    좋음  0.3     좋음  0.002
1  2021-04-25:14     좋음    24.0     좋음    10.0  ...  0.007    좋음  0.3     좋음  0.002
2  2021-04-25:13     좋음    27.0     좋음     8.0  ...  0.009    좋음  0.3     좋음  0.002
3  2021-04-25:12     좋음    23.0     좋음     9.0  ...  0.009    좋음  0.3     좋음  0.002
4  2021-04-25:11     좋음    27.0     좋음    12.0  ...  0.007    좋음  0.3     좋음  0.002

[5 rows x 13 columns]

In [ ]:
data['day'] = data['날짜'].str[:-3]
data['day'] = pd.to_datetime(data['day'])
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 591 entries, 0 to 590
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      591 non-null    object
 1   PM10_1  589 non-null    object
 2   PM10_2  589 non-null    float64
 3   PM25_1  589 non-null    object
 4   PM25_2  589 non-null    float64
 5   O3_1    589 non-null    object
 6   O3_2    589 non-null    float64
 7   NO2_1   589 non-null    object
 8   NO2_2   589 non-null    float64
 9   CO_1    589 non-null    object
 10  Co_2    589 non-null    float64
 11  SO2_1   589 non-null    object
 12  SO2_2   589 non-null    float64
 13  day     591 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(6), object(7)
memory usage: 64.8+ KB

In [ ]:
data['요일'] = data['day'].dt.day_name()
data.head()

              날짜 PM10_1  PM10_2 PM25_1  ...  SO2_1  SO2_2        day      요일
0  2021-04-25:15     좋음    23.0     좋음  ...     좋음  0.002 2021-04-25  Sunday
1  2021-04-25:14     좋음    24.0     좋음  ...     좋음  0.002 2021-04-25  Sunday
2  2021-04-25:13     좋음    27.0     좋음  ...     좋음  0.002 2021-04-25  Sunday
3  2021-04-25:12     좋음    23.0     좋음  ...     좋음  0.002 2021-04-25  Sunday
4  2021-04-25:11     좋음    27.0     좋음  ...     좋음  0.002 2021-04-25  Sunday

[5 rows x 15 columns]



---
## 해결문제 


---

대학알리미 사이트에서 표준분류 정보 검색을 통해 '컴퓨터'관련 학과를 검색한 정보를 받아서 자료를 분석하시오.

1.'대학명','학과명', '지역', '설립유형', '표준분류계열(대)'

2.부산지역의 국립 대학 추출

In [ ]:
data1 = pd.read_excel('/content/drive/MyDrive/파이썬특강/python2021/data/표준분류 정보_컴퓨터.xlsx')
data1

      No                 학과명      대학명     구분  ...  표준분류계열(중)  표준분류계열(소) 특성화학과  관심
0      1              컴퓨터공학과    가천대학교     본교  ...  전기ㆍ전자ㆍ컴퓨터  전산학ㆍ컴퓨터공학   NaN NaN
1      2            컴퓨터정보공학부   가톨릭대학교     본교  ...  전기ㆍ전자ㆍ컴퓨터  전산학ㆍ컴퓨터공학   NaN NaN
2      3       모바일유비쿼터스융복합전공   가톨릭대학교     본교  ...  전기ㆍ전자ㆍ컴퓨터  전산학ㆍ컴퓨터공학   NaN NaN
3      4          미디어기술콘텐츠학과   가톨릭대학교     본교  ...  전기ㆍ전자ㆍ컴퓨터  전산학ㆍ컴퓨터공학   NaN NaN
4      5            멀티미디어공학과  강릉원주대학교  제2캠퍼스  ...  전기ㆍ전자ㆍ컴퓨터  전산학ㆍ컴퓨터공학   NaN NaN
..   ...                 ...      ...    ...  ...        ...        ...   ...  ..
257  258            컴퓨터.게임학과    호원대학교     본교  ...  전기ㆍ전자ㆍ컴퓨터  전산학ㆍ컴퓨터공학   NaN NaN
258  259            컴퓨터.게임학과    호원대학교     본교  ...  전기ㆍ전자ㆍ컴퓨터  전산학ㆍ컴퓨터공학   NaN NaN
259  260               컴퓨터학부    호원대학교     본교  ...  전기ㆍ전자ㆍ컴퓨터  전산학ㆍ컴퓨터공학   NaN NaN
260  261  컴퓨터・데이터공학부 컴퓨터공학전공    홍익대학교     본교  ...  전기ㆍ전자ㆍ컴퓨터  전산학ㆍ컴퓨터공학   NaN NaN
261  262      융합전공 데이터사이언스전공    홍익대학교     본교  ...  전기ㆍ전자ㆍ컴퓨터  전산학ㆍ컴퓨터공학   NaN NaN

[262 rows x 14 columns]

In [ ]:
data1=data1.loc[:, ['대학명', '학과명', '지역', '설립유형', '표준분류계열(대)']]

In [ ]:
dt = data1[(data1['설립유형']=='국립')]
dt

           대학명                    학과명  지역 설립유형 표준분류계열(대)
4      강릉원주대학교               멀티미디어공학과  강원   국립        공학
5      강릉원주대학교                 컴퓨터공학과  강원   국립        공학
6        강원대학교                 컴퓨터공학과  강원   국립        공학
7        강원대학교           소프트웨어미디어융합전공  강원   국립        공학
8        강원대학교         소프트웨어미디어・산업공학부  강원   국립        공학
22     경상국립대학교         컴퓨터공학부(빅데이터전공)  경남   국립        공학
23     경상국립대학교                 컴퓨터과학과  경남   국립        공학
24     경상국립대학교     컴퓨터공학부(컴퓨터소프트웨어전공)  경남   국립        공학
34       공주대학교                 컴퓨터공학부  충남   국립        공학
35       공주대학교                컴퓨터공학전공  충남   국립        공학
45       군산대학교  컴퓨터정보통신공학부(컴퓨터정보공학전공)  전북   국립        공학
46     금오공과대학교                컴퓨터IT학과  경북   국립        공학
47     금오공과대학교               컴퓨터정보공학과  경북   국립        공학
48     금오공과대학교                 컴퓨터공학과  경북   국립        공학
91       목포대학교                 컴퓨터공학과  전남   국립        공학
92       목포대학교             컴퓨터・정보보호학부  전남   국립        공학
93     목포해양대학교               해양컴퓨터공학과  전남   국립        공학
97       부경대학교                 컴퓨터공학과  부산   국립        공학
98       부경대학교              데이터사이언스전공  부산   국립        공학
101      부산대학교               정보컴퓨터공학부  부산   국립        공학
114  서울과학기술대학교                 컴퓨터공학과  서울   국립        공학
139      순천대학교                 컴퓨터공학과  전남   국립        공학
156      안동대학교               멀티미디어공학과  경북   국립        공학
157      안동대학교                 컴퓨터공학과  경북   국립        공학
185      전남대학교               소프트웨어공학과  광주   국립        공학
186      전남대학교                 인공지능학부  광주   국립        공학
187      전북대학교          융합학부(IAB융합전공)  전북   국립        공학
188      전북대학교                 컴퓨터공학부  전북   국립        공학
189      전북대학교         컴퓨터공학부 컴퓨터공학전공  전북   국립        공학
190      전북대학교                IT정보공학과  전북   국립        공학
194      제주대학교                컴퓨터공학전공  제주   국립        공학
202      창원대학교                 컴퓨터공학과  경남   국립        공학
210      충남대학교                컴퓨터융합학부  대전   국립        공학
211      충남대학교                 인공지능학과  대전   국립        공학
212      충북대학교                 컴퓨터공학과  충북   국립        공학
213      충북대학교                 컴퓨터공학과  충북   국립        공학
216      한경대학교         소프트웨어&서비스컴퓨팅전공  경기   국립        공학
217      한경대학교              소프트웨어융합전공  경기   국립        공학
218      한경대학교             AI빅데이터융합전공  경기   국립        공학
219      한경대학교             AI빅데이터융합전공  경기   국립        공학
221    한국교통대학교              데이터사이언스전공  충북   국립        공학
222    한국교통대학교                컴퓨터공학전공  충북   국립        공학
224  한국방송통신대학교                 컴퓨터과학과  서울   국립        공학
237      한밭대학교                 컴퓨터공학과  대전   국립        공학

In [ ]:
dt = data1[(data1['설립유형']=='국립') & (data1['학과명']=='컴퓨터공학과') & (data1['지역']=='부산')]
dt

      대학명     학과명  지역 설립유형 표준분류계열(대)
97  부경대학교  컴퓨터공학과  부산   국립        공학

In [ ]:
dt = data1[(data1['설립유형']=='국립') & (data1['학과명']=='정보컴퓨터공학부') & (data1['지역']=='부산')]
dt

       대학명       학과명  지역 설립유형 표준분류계열(대)
101  부산대학교  정보컴퓨터공학부  부산   국립        공학

In [ ]:
data2 = pd.read_excel('/content/drive/MyDrive/파이썬특강/python2021/data/표준분류 정보.xlsx')
data2

      No              학과명           대학명     구분  ...  표준분류계열(중)  표준분류계열(소) 특성화학과  관심
0      1           컴퓨터공학과         가천대학교     본교  ...  전기ㆍ전자ㆍ컴퓨터  전산학ㆍ컴퓨터공학   NaN NaN
1      2       미디어기술콘텐츠학과        가톨릭대학교     본교  ...  전기ㆍ전자ㆍ컴퓨터  전산학ㆍ컴퓨터공학   NaN NaN
2      3    모바일유비쿼터스융복합전공        가톨릭대학교     본교  ...  전기ㆍ전자ㆍ컴퓨터  전산학ㆍ컴퓨터공학   NaN NaN
3      4         컴퓨터정보공학부        가톨릭대학교     본교  ...  전기ㆍ전자ㆍ컴퓨터  전산학ㆍ컴퓨터공학   NaN NaN
4      5         멀티미디어공학과       강릉원주대학교  제2캠퍼스  ...  전기ㆍ전자ㆍ컴퓨터  전산학ㆍ컴퓨터공학   NaN NaN
..   ...              ...           ...    ...  ...        ...        ...   ...  ..
548  549           컴퓨터공학과     호서대학교 대학원     본교  ...  전기ㆍ전자ㆍ컴퓨터  전산학ㆍ컴퓨터공학   NaN NaN
549  550  컴퓨터공학과(학연산협동과정)     호서대학교 대학원     본교  ...  전기ㆍ전자ㆍ컴퓨터  전산학ㆍ컴퓨터공학   NaN NaN
550  551        소프트웨어융합학과     홍익대학교 대학원  제2캠퍼스  ...  전기ㆍ전자ㆍ컴퓨터  전산학ㆍ컴퓨터공학   NaN NaN
551  552           컴퓨터공학과     홍익대학교 대학원     본교  ...  전기ㆍ전자ㆍ컴퓨터  전산학ㆍ컴퓨터공학   NaN NaN
552  553      데이터 및 HPC과학  과학기술연합대학원대학교     본교  ...  전기ㆍ전자ㆍ컴퓨터  전산학ㆍ컴퓨터공학   NaN NaN

[553 rows x 14 columns]

In [ ]:
data2=data2.loc[:, ['대학명', '학과명', '지역', '설립유형', '표준분류계열(대)']]
data2

              대학명              학과명  지역 설립유형 표준분류계열(대)
0           가천대학교           컴퓨터공학과  경기   사립        공학
1          가톨릭대학교       미디어기술콘텐츠학과  경기   사립        공학
2          가톨릭대학교    모바일유비쿼터스융복합전공  경기   사립        공학
3          가톨릭대학교         컴퓨터정보공학부  경기   사립        공학
4         강릉원주대학교         멀티미디어공학과  강원   국립        공학
..            ...              ...  ..  ...       ...
548     호서대학교 대학원           컴퓨터공학과  충남   사립        공학
549     호서대학교 대학원  컴퓨터공학과(학연산협동과정)  충남   사립        공학
550     홍익대학교 대학원        소프트웨어융합학과  세종   사립        공학
551     홍익대학교 대학원           컴퓨터공학과  서울   사립        공학
552  과학기술연합대학원대학교      데이터 및 HPC과학  대전   기타        공학

[553 rows x 5 columns]

In [ ]:
dt1=data2[(data2['지역']=='부산')&(data2['설립유형']=='국립')&(data2['학과명']=='정보컴퓨터공학부')]
dt1

       대학명       학과명  지역 설립유형 표준분류계열(대)
101  부산대학교  정보컴퓨터공학부  부산   국립        공학